*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    overflow: auto;
    height: 100%;
    background: linear-gradient(#f47c7b,#b19b9c);
}

main section {
    height: 100vh;
    width: 100vw;
}

section.capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

div.capa__topo {
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: lightgray 1px;
    border-bottom-style: inset;
    padding-bottom: 10px;
}

div.capa__conteudo img{
    width: 250px;
    box-shadow: 0 0 10px white;
    border-radius: 5px 80px 15px;
}

section.capa button {
    outline-style: none;
    padding: 5px;
    width: 50%;
    font-size: 30px;
    border-radius: 30px;
    background: linear-gradient(#be6041,#b19b9c);
    color: white;
    font-family: monospace;
    box-shadow: 0 0 10px black;
}

section.agenda {
    background: green;
    transition: .2s;
}

section.agenda.show {
    top: 0;
}