*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100%;
}

main {
    overflow: auto;
    height: 100%;
    background: linear-gradient(#f47c7b,#b19b9c);
}

main section {
    height: 100%;
    width: 100%;
}

section.capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
    transition: .5s;
}

section.capa.close {
    height: 0;
}

div.capa__topo, div.agenda__topo {
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: lightgray 1px;
    border-bottom-style: inset;
    padding-bottom: 10px;
}

div.capa__conteudo img{
    width: 250px;
    box-shadow: 0 0 10px white;
    border-radius: 5px 80px 15px;
}

section.capa button {
    outline-style: none;
    padding: 5px;
    width: 50%;
    font-size: 30px;
    border-radius: 30px;
    background: linear-gradient(#be6041,#b19b9c);
    color: white;
    font-family: monospace;
    box-shadow: 0 0 10px black;
}

section.agenda {
    transition: .2s;
}

section.agenda.show {
    top: 0;
}


div.agenda__conteudo {
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
    width: 100%;
    background: gray;
    align-items: center;
}

div.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 15px;
    max-height: 90%;
    width: 100%;
}

div.horarios div {
    background-color: lightblue;
    border-left: solid 5px blue;
    height: 150px;
    width: 90%;
    box-shadow: 0 0 10px black;
}
